@use './../../variables' as *;



.container{
width: 90vw;
align-self: center;

}


.center-align{
    align-content: center;
    align-items: center;
    align-self: center;
}


    .main-body {
    padding: 10px;
    border-radius: 6px;

    }

    .content_container{
        width: 350px;
      
    }

    .small_image
    {
        width: 350px;
         padding: 10px;
        border-radius: 6px;
    }

    @media screen and (max-width: 680px)
    {
    .small_image
        {
           display: none;
        }
    }