@use './../../variables' as *;



.container{
height: 100%;
}





    .main-body {
    padding: 10px;
    border-radius: 6px;

    }

    .content_container{
        padding-left: 100px;
        height: 100%;
    }

    .small_image
    {
        width: 350px;
    }

    @media screen and (max-width: 680px)
    {
    .small_image
        {
           display: none;
        }
    }