<div class="container"  igxLayout igxLayoutDir="column" >

    <div igxLayout class="main-box page_heading">
    Contact Us
    </div>

    <div class="content_container">
    <div igxLayout igxLayoutDir="row" igxLayoutJustify="space-between" >
        <div class="main-body">
            <ul>
            
               
                <li>sarah&commat;hrcloudme.com</li>
            </ul>
        </div>

        <div class="main-body">
        <img class="small_image" src = "https://hrcloudfiles.blob.core.windows.net/marketing/contactus.jpeg">
        </div>
    </div>

   

</div>

</div>