@use './../../variables';




.main-box {
    width: 100%;
    background: color($basic-palette: 'secondary');
    padding: 8px;
    border-radius: 6px;
}

    .main-body {
    width: 50%;
    padding: 100px;
    border-radius: 6px;

    &.tall {
        height: 300px;
    }


    }

   

    .small_image
    {
        height: 275px;
        width: auto;
    }

    .login_card
    {
      width: 60vh !important;  
      justify-content: center !important;
      background: color($basic-palette: 'primary');
      
    }

    .login_button
    {
        height: 50px;
        justify-content: center;
    }

    .align_right
    {
        justify-content: right;
    }