@use './../../variables' as *;
@use "igniteui-angular/theming" as *;



.main-box {
    width: 80%;
    background: color($basic-palette, 'secondary');
    padding: 8px;
    border-radius: 6px;
}

    .main-body {
    border-radius: 6px;
    width: 300px;
    }

   
    @media screen and (min-width: 1025px)
    {
    .small_image
    {
        width: 500px;
      
    }
    }

 @media screen and (max-width: 1024px)
    {
    .small_image
    {
        width: 350px;
       padding: 20px;
    }
    }


     @media screen and (max-width: 680px)
    {
    .small_image
        {
           display: none;
        }
    }

    .login_card
    {
      width: 350px;  
      padding: 20px;
      margin: 20px;
      justify-content: center !important;
      background: color($basic-palette, 'secondary');
      color: color($basic-palette, 'surface');
    
    }

     .textcolor
    {
      color: color($basic-palette, 'surface');
    }


    .login_button
    {
        height: 50px;
        justify-content: center;
        color: color($basic-palette, 'primary');
    }

    .align_right
    {
        justify-content: right;
    }

$colorful-card: card-theme(
  $background: color($basic-palette, 'secondary'),
  $header-text-color: color($basic-palette, 'surface')
);

@include css-vars($colorful-card);