<div igxLayout igxFlex igxLayoutDir="row">
    <div class="main-body"  >

        <form>
            <igx-card elevated class="login_card">
                
                    <igx-card-header>
                    <h4 igxCardHeaderTitle>Login to HR Cloud ME</h4>
                    </igx-card-header>

                    <igx-card-content class="card_body">
                    <igx-input-group>
                        <input igxInput name="username" type="text" />
                        <label igxLabel for="username">Username</label>
                        </igx-input-group>

                        <igx-input-group>
                        <input igxInput name="password" type="password" />
                        <label igxLabel for="password">Password</label>
                        </igx-input-group>
                    </igx-card-content>

                    <igx-card-actions class="align_right">
                       
                        <button igxButton="contained" igxRipple routerLink="" class="login_button"><b>Sign In</b></button>
                       
                    </igx-card-actions>

                </igx-card>
                 <a href="">Forgot Password</a>

                
        
        </form>
       
        </div>

        <div class="main-body"  igxLayout igxFlex igxLayoutDir="row" igxFlex="center" >
             <img class="small_image" src = "https://hrcloudfiles.blob.core.windows.net/marketing/hrImage.jpeg">
        </div>      

</div>  

      <div class="main-body">
            <p>To register please contact us sarah&commat;hrcloudme.com
            </p>
        </div>

