@use './../../variables' as *;

@use "igniteui-angular/theming" as *;


.app_heading {
    font-size: larger;
    font-weight: bolder;
    width: 175px;
}

.app_image
{
    height: 45px;
}



.mainbar-box {
    width: 100%;
    background: color($basic-palette, 'secondary');
    padding: 8px;
    border-radius: 6px;

}

@media screen and (max-width: 680px)
{
.mainbar-box__item_end {
    display: none;
}
}

.titleHRCloudSmall
{
    font-weight: bold;
    padding: 10px;
    color: color($basic-palette, 'surface');
}



.titleHRCloud
{
    font-weight: bold;
    align-self: center;
    padding: 10px;
    color: color($basic-palette, 'surface');
}

@media screen and (max-width: 680px)
{
.titlewrapper
{
 display: none;
}
}



@media screen and (min-width: 681px)
{
.mainbar-box__item_end {
    height: 30px;
    margin: 8px;
    background: color($basic-palette, 'secondary');
    color: color($basic-palette, 'surface');
    align-self: center ;
    align-content: center;
}
}



@media screen and (min-width: 681px)
{
.mainbar-box__item {
    height: 30px;
    padding: 10px 20px;
    margin: 8px;
    background: color($basic-palette, 'secondary');
    color: color($basic-palette, 'surface');
}
}

@media screen and (max-width: 680px)
{
.mainbar-box__item {
    display: none;
}
}

@media screen and (max-width: 680px)
{
.mainmenu {
    height: 30px;
    background: color($basic-palette, 'secondary');
    color: color($basic-palette, 'surface');
    align-self: flex-start;
}
}

$custom-navbar-theme: navbar-theme(
  $background: color($basic-palette, 'secondary'),
  $idle-icon-color: color($basic-palette, 'surface')
);


@media screen and (min-width: 681px)
{
.mainmenu {
    display: none;
}
}


a {
  text-decoration: none;
  color: color($basic-palette, 'surface');
}

@include css-vars($custom-navbar-theme);