<div class="mainbar-box" igxLayout igxLayoutDir="row" igxFlex igxLayoutItemAlign="flex-end">
          
    <div class="mainbar-box__item">
           <a routerLink="/" class="app_image">
             <div igxFlex  igxLayout igxLayoutDir="row">
                <img src="https://hrcloudfiles.blob.core.windows.net/marketing/logoIcon.png"> 
                <div class="app_heading">HR Cloud Middle East</div>
            </div>
            </a>
        </div> 


        <!-- <div  class="mainbar-box__item"  igxLayoutItemAlign="stretch"> </div>  -->
        <div  class="mainbar-box__item_end" igxFlex igxLayoutItemAlign="flex-end"><a routerLink="/features">Features</a></div>
        <div  class="mainbar-box__item_end" igxFlex igxLayoutItemAlign="flex-end"><a routerLink="/smallbusiness">Small Businesses</a></div>
        <div   class="mainbar-box__item_end" igxFlex igxLayoutItemAlign="flex-end"><a routerLink="/hrconsultants">HR Consultants</a></div>
        <div   class="mainbar-box__item_end" igxFlex igxLayoutItemAlign="flex-end"><a routerLink="/contactus">Contact Us</a></div>
       <div   class="mainbar-box__item_end" igxFlex igxLayoutItemAlign="flex-end"><a routerLink="/login">Login</a></div>
      
       
    </div>