@use './../../variables' as *;



.app_heading {
    font-size: larger;
    font-weight: bolder;
}

.mainbar-box {
    width: 100%;
    background: color($basic-palette, 'secondary');
    padding: 8px;
    border-radius: 6px;

}

@media screen and (max-width: 680px)
{
.mainbar-box__item_end {
    display: none;
}
}

@media screen and (min-width: 681px)
{
.mainbar-box__item_end {
    height: 30px;
    padding: 10px 10px;
    margin: 8px;
    background: color($basic-palette, 'secondary');
    color: color($basic-palette, 'surface');
    justify-content: end;
}
}



.mainbar-box__item {
    height: 30px;
    padding: 10px 20px;
    margin: 8px;
    background: color($basic-palette, 'secondary');
    color: color($basic-palette, 'surface');
}

a {
  text-decoration: none;
  color: color($basic-palette, 'surface');
}