<div class="mainbar-box" igxLayout igxLayoutDir="row" igxFlex igxLayoutItemAlign="flex-end" igxLayoutJustify="space-between">
          
    <div class="titlewrapper">
           <a routerLink="/" >
             <div igxFlex  igxLayout igxLayoutDir="row">
                <img class="app_image" src="https://hrcloudfiles.blob.core.windows.net/marketing/HrCloudSmall.svg"> 
                <span class="titleHRCloud">HR Cloud ME</span>
              </div>
            
            </a>
    </div> 

@for (item of navItems; track item) {
        <div class="mainbar-box__item_end">
          <a routerLink={{item.route}} >
            <span>{{item.text}}</span>
          </a>
        </div>
}

<igx-navbar class="mainmenu">

  <div igxNavbarAction>
      <a href="https://www.hrcloudme.com" target="_blank" igxLayout>
        <img
          src="https://hrcloudfiles.blob.core.windows.net/marketing/HrCloudSmall.svg"
          class="app_image"
        />
        <span class="titleHRCloudSmall">HR Cloud ME</span>
      </a>
    </div>

  <button igxIconButton="flat" (click)="toggleDrawer()">
    <igx-icon>menu</igx-icon>
  </button>
</igx-navbar>

<igx-nav-drawer id="navigation" class="mainmenu" #drawer [isOpen]="false" [pinThreshold]="5000">
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true">Components</span>

        <span igxDrawerItem igxRipple (click)="navigate('./')">
            <igx-icon family="material">home</igx-icon>
            <span>Home</span>
          </span>

        @for (item of navItems; track item) {
          <span igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item.route)">
            <igx-icon family="material">{{ item.icon }}</igx-icon>
            <span>{{ item.text }}</span>
          </span>
        }
      </nav>
    </ng-template>
  </igx-nav-drawer>


       
</div>

