<div class="mainbar-box" igxLayout igxLayoutDir="row" igxFlex igxLayoutItemAlign="flex-end">
          
    <div class="mainbar-box__item">
           <a routerLink="/" class="app_image">
             <div igxFlex  igxLayout igxLayoutDir="row">
                <img src="../assets/images/HRCloudBig.svg"> 
            </div>
            </a>
    </div> 

@for (item of navItems; track item) {
        <!-- <div  class="mainbar-box__item"  igxLayoutItemAlign="stretch"> </div>  -->
        <div  class="mainbar-box__item_end" igxFlex igxLayoutItemAlign="flex-end"><a routerLink={{item.route}}>{{item.text}}</a></div>
}

<igx-navbar class="mainmenu" title="HR Cloud ME">
  <button igxIconButton="flat" (click)="toggleDrawer()">
    <igx-icon>menu</igx-icon>
  </button>
</igx-navbar>

<igx-nav-drawer id="navigation" class="mainmenu" #drawer [isOpen]="false" [pinThreshold]="5000">
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true">Components</span>

        <span igxDrawerItem igxRipple (click)="navigate('./')">
            <igx-icon family="material">home</igx-icon>
            <span>Home</span>
          </span>

        @for (item of navItems; track item) {
          <span igxDrawerItem [active]="item.text === selected" igxRipple (click)="navigate(item.route)">
            <igx-icon family="material">{{ item.icon }}</igx-icon>
            <span>{{ item.text }}</span>
          </span>
        }
      </nav>
    </ng-template>
  </igx-nav-drawer>


       
</div>

