<div class="container"  igxLayout igxLayoutDir="column" >

    <div igxLayout class="main-box page_heading">
    Small Businesses
    </div>

    <div class="content_container">
    <div igxLayout igxLayoutDir="row" igxLayoutJustify="space-between" >
        <div class="main-body">
            <ul>
                <li>Hiring paperwork</li>
                <li>Basic salary and allowance setup</li>
                <li>Severance Pay Calculations</li>
                <li>Automated Trial and final Payroll</li>
                <li>Easy release process and severance calculations</li>
                <li>Great Customer Service</li>

            </ul>
        </div>

        <div class="main-body">
        <img class="small_image" src = "https://hrcloudfiles.blob.core.windows.net/marketing/hrImage.jpeg">
        </div>
    </div>

    <div >
        <p>Whether you are a startup or a rapidly growing business. We can help you with your most important resource - The people.
        </p>
        <p>Employees can view their leave accrual and pay slips online.</p>
        <p><b>Grow your business hassle free with us. </b></p>
    </div>

</div>

</div>