<div class="container"  igxLayout igxLayoutDir="column" >

    <div igxLayout class="main-box page_heading">
    HR Consultants
    </div>

    <div class="content_container">
    <div igxLayout igxLayoutDir="row" igxLayoutJustify="space-between" >
        <div class="main-body">
            <ul>
                <li>GCC Labor Law Compliant</li>
                <li>Overtime Calculations</li>
                <li>Severance Pay Calculations</li>
                <li>Automated Trial and final Payroll</li>
                <li>Easy to Use</li>
                <li>Great Customer Service</li>

            </ul>
        </div>

        <div class="main-body">
        <img class="small_image" src = "https://hrcloudfiles.blob.core.windows.net/marketing/hrImage.jpeg">
        </div>
    </div>

    <div >
        <p>HR Consultants can use our software to manage their clients easily. We make the hiring and release process seamless for you.
        </p>
        <p>Whether you are managing one company or many, we have a solution for you.</p>
        <p><b>Contact us for partnership opportunities. </b></p>
    </div>

</div>

</div>