@use 'variables' as *;

.ig-scrollbar
{
    overflow-y: scroll;
}

.main-box {
    width: 90vw;
    background: color($basic-palette, 'secondary');
    padding: 8px;
    border-radius: 6px;
}

.page_heading {
    background: color($basic-palette,'secondary');
    color: color($basic-palette,'surface');
    font-size : large;
    font-weight: bold;
    justify-content: center;
    margin: 10px;
}

.page_content{
    padding: 20px;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: #676054;
    }
    100% {
        background: #f6e7ec;
    }
}

@keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.headerAlignSyle {
    text-align: right !important;
}

