@import 'variables';

.ig-scrollbar
{
    overflow-y: scroll;
}

.page_heading {
    background: color($color: 'secondary');
    color: color($color: 'surface');
    font-size : large;
    font-weight: bold;
    justify-content: center;
    margin: 10px 10px 10px 100px;
}

.page_content{
    padding: 20px;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.headerAlignSyle {
    text-align: right !important;
}

