@use 'igniteui-angular/theming' as *;
@use 'variables' as *;
@use 'app-layout';


// Specifies large size for all components to match the previous defaults
// This may not be needed for your project. Please consult https://www.infragistics.com/products/ignite-ui-angular/angular/components/general/update-guide for more details.
:root {
    --ig-size: var(--ig-size-large);
}

/* autoprefixer grid: on */
html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

@include core();
@include typography();
@include theme(
    $palette: $basic-palette,
    $schema: $schema
);

:root {
    @include palette($basic-palette);
}