
<div igxLayout igxLayoutDir="column" class="main_container">
   

    <div class="carousel-container"  >
        <igx-carousel #carousel>
            @for (slide of slides; track slide) {
            <igx-slide>
                <div class="image-container">
                <img [src]="slide.src">
                </div>
            </igx-slide>
            }
        </igx-carousel>
    </div>

    <div class="card-wrapper" igxLayout igxLayoutDir="row" igxLayoutJustify="space-between" igxLayoutWrap="wrap">
        <div class="card-box__el">
            <igx-card elevated>
            
                <igx-card-header class="payroll_header">
                <h4 igxCardHeaderTitle>{{ cardPayroll.title }}</h4>
                <h6 igxCardHeaderSubtitle class="card_subtitle">{{ cardPayroll.subtitle }}</h6>
                </igx-card-header>

                <igx-card-content class="card_body">
                <p>{{ cardPayroll.content }}</p>
                </igx-card-content>

                <igx-card-actions>
                @for (button of cardPayroll.buttons; track button) {
                    <button igxButton igxRipple igxStart routerLink="/features">{{ button }}</button>
                }
                </igx-card-actions>

            </igx-card>
        </div>

        <div class="card-box__el">
            <igx-card elevated>
            
                <igx-card-header class="leave_header">
                <h4 igxCardHeaderTitle >{{ cardLeave.title }}</h4>
                <h6 igxCardHeaderSubtitle class="card_subtitle">{{ cardLeave.subtitle }}</h6>
                </igx-card-header>

                <igx-card-content class="card_body">
                <p>{{ cardLeave.content }}</p>
                </igx-card-content>

                <igx-card-actions>
                @for (button of cardPayroll.buttons; track button) {
                    <button igxButton igxRipple igxStart routerLink="/features">{{ button }}</button>
                }
                </igx-card-actions>

            </igx-card>
        </div>

        <div class="card-box__el">
            <igx-card elevated>
            
                <igx-card-header class="overtime_header">
                <h4 igxCardHeaderTitle>{{ cardOvertime.title }}</h4>
                <h6 igxCardHeaderSubtitle class="card_subtitle">{{ cardOvertime.subtitle }}</h6>
                </igx-card-header>

                <igx-card-content class="card_body">
                <p>{{ cardOvertime.content }}</p>
                </igx-card-content>

                <igx-card-actions>
                @for (button of cardOvertime.buttons; track button) {
                    <button igxButton igxRipple igxStart routerLink="/features">{{ button }}</button>
                }
                </igx-card-actions>

            </igx-card>
        </div>

        <div class="card-box__el">
            <igx-card elevated>
            
                <igx-card-header class="advancesalary_header">
                <h4 igxCardHeaderTitle>{{ cardAdvanceSalary.title }}</h4>
                <h6 igxCardHeaderSubtitle class="card_subtitle">{{ cardAdvanceSalary.subtitle }}</h6>
                </igx-card-header>

                <igx-card-content class="card_body">
                <p>{{ cardOvertime.content }}</p>
                </igx-card-content>

                <igx-card-actions>
                @for (button of cardAdvanceSalary.buttons; track button) {
                    <button igxButton igxRipple igxStart routerLink="/features">{{ button }}</button>
                }
                </igx-card-actions>

            </igx-card>
        </div>
    
    </div>

    <div igxLayout igxLayoutJustify="center" class="page_content"><p> <b>Made for HR Consultants, Made by HR Consultants, Made in Middle East </b> </p> </div>

   

</div>

  



  